{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "NOMBRE EJEMPLO",
    "license": {
      "name": "MIT"
    }
  },
  "host": "api.EJEMPLO.com",
  "basePath": "/v1",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "autos",
      "description": "Gestion de LANCHAS"
    }
  ],
  "paths": {
    "/autos": {
      "get": {
        "summary": "Listado de todas las lanchas",
        "tags": [
          "lanchas"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "How many items to return at one time (max 100)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "un arreglo paginado de lanchas",
            "headers": {
              "x-next": {
                "type": "string",
                "description": "A link to the next page of responses"
              }
            },
            "schema": {
              "$ref": "#/definitions/Lanchas"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "Crear una lancha",
        "tags": [
          "lanchas"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Objeto de tipo lancha",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Lancha"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Null response"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "summary": "Modificar una lancha",
        "tags": [
          "lancha"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Objeto de tipo lancha",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Lancha"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Null response"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "Listado de todas las lanchas",
        "tags": [
          "lanchas"
        ],
        "parameters": [
          {
            "name": "lanchaId",
            "in": "query",
            "description": "el id de la lancha que se desea eliminar",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "se elimino correctamente la lancha"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Lancha": {
      "required": [
        "marca",
        "modelo",
        "disponible"
      ],
      "properties": {
        "marca": {
          "type": "string"
        },
        "modelo": {
          "type": "string"
        },
        "fecha_fabricacion": {
          "type": "string"
        },
        "cantidad_puertas": {
          "type": "number"
        },
        "disponible": {
          "type": "boolean"
        }
      }
    },
    "Autos": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Lancha"
      }
    },
    "Error": {
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}
