{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "FORO API ",
    "license": {
      "name": "MIT"
    }
  },
  "host": "api.foros.com",
  "basePath": "/v1",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "usuarios",
      "description": "Gestion de usuarios"
    },
    {
      "name": "topicos",
      "description": "Gestion de topicos"
    },
    {
      "name": "comentarios",
      "description": "Gestion de comentarios"
    }
  ],
  "paths": {
    "/usuarios": {
      "get": {
        "summary": "Listado de todos los usuarios",
        "tags": [
          "usuarios"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "How many items to return at one time (max 100)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "un arreglo paginado de usuarios",
            "headers": {
              "x-next": {
                "type": "string",
                "description": "A link to the next page of responses"
              }
            },
            "schema": {
              "$ref": "#/definitions/Usuarios"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "Crear un usuario",
        "tags": [
          "usuarios"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Objeto de tipo usuario",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Usuario"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Null response"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "summary": "Modificar un usuario",
        "tags": [
          "usuarios"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Objeto de tipo auto",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Usuario"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Null response"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "borrar un usuario",
        "tags": [
          "usuarios"
        ],
        "parameters": [
          {
            "name": "usuarioId",
            "in": "query",
            "description": "el id del usuario que se desea eliminar",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "se elimino correctamente el usuario"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/topicos": {
      "get": {
        "summary": "Listado de todos los topicos",
        "tags": [
          "topicos"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "How many items to return at one time (max 100)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "un arreglo paginado de topicos",
            "headers": {
              "x-next": {
                "type": "string",
                "description": "A link to the next page of responses"
              }
            },
            "schema": {
              "$ref": "#/definitions/Topicos"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "Crear un topico",
        "tags": [
          "topicos"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Objeto de tipo topico",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Topico"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Null response"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "summary": "Modificar un topico",
        "tags": [
          "topicos"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Objeto de tipo topico",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Topico"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Null response"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "borrar un topico",
        "tags": [
          "topicos"
        ],
        "parameters": [
          {
            "name": "topicoId",
            "in": "query",
            "description": "el id del topico que se desea eliminar",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "se elimino correctamente el topico"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/comentarios": {
      "get": {
        "summary": "Listado de todos los comentarios",
        "tags": [
          "comentarios"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "How many items to return at one time (max 100)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "un arreglo paginado de comentarios",
            "headers": {
              "x-next": {
                "type": "string",
                "description": "A link to the next page of responses"
              }
            },
            "schema": {
              "$ref": "#/definitions/Comentarios"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "Crear un comentario",
        "tags": [
          "comentarios"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Objeto de tipo comentario",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Comentario"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Null response"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "summary": "Modificar un comentario",
        "tags": [
          "comentarios"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Objeto de tipo comentario",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Comentario"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Null response"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "borrar un comentario",
        "tags": [
          "comentarios"
        ],
        "parameters": [
          {
            "name": "topicoId",
            "in": "query",
            "description": "el id del comentario que se desea eliminar",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "se elimino correctamente el comentario"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Usuario": {
      "properties": {
        "id": {
          "type": "number"
        },
        "nombre": {
          "type": "string"
        },
        "apellido": {
          "type": "string"
        },
        "email": {
          "type": "number"
        }
      }
    },
    "Usuarios": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Usuario"
      }
    },
    "Topico": {
      "properties": {
        "id": {
          "type": "number"
        },
        "titulo": {
          "type": "string"
        },
        "descripcion": {
          "type": "string"
        }
      }
    },
    "Topicos": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Topico"
      }
    },
    "Comentario": {
      "properties": {
        "id": {
          "type": "number"
        },
        "topico_id": {
          "type": "number"
        },
        "usuario_id": {
          "type": "number"
        },
        "comentario": {
          "type": "number"
        }
      }
    },
    "Comentarios": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Comentario"
      }
    },
    "Error": {
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}