{
  "swagger": "2.0",
  "info": {
    "description": "API para gestionar tienda de mascotas",
    "title": "API MASCOTAS",
    "version": "1.0.0"
  },
  "host": "api.mascotas.com",
  "basePath": "/v1",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "pets",
      "description": "gestion de datos de mascota"
    }
  ],
  "paths": {
    "/pets": {
      "get": {
        "summary": "Obtener listado de mascotas",
        "tags": [
          "pets"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Array de mascotas",
            "schema": {
              "$ref": "#/definitions/Pets"
            }
          }
        }
      },
      "delete": {
        "summary": "Obtener listado de mascotas",
        "tags": [
          "pets"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Array de mascotas",
            "schema": {
              "$ref": "#/definitions/Pets"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Pet": {
      "required": [
        "id",
        "name"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "tag": {
          "type": "string"
        }
      }
    },
    "Pets": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Pet"
      }
    },
    "Error": {
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}